librosa==0.9.1
numpy==1.20.3
opencv-python==4.1.2.30
opencv-contrib-python==4.2.0.34
torch==1.13.1
torchvision
resampy==0.3.1
tqdm==4.45.0
numba==0.53
scikit-image
batch-face==1.4.0
gradio==3.34.0
pydantic==1.10.7
gfpgan
realesrgan
diffusers